[submodule "ch4/Sophus"]
	path = ch4/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "ch5/opencv"]
	path = ch5/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ch5/pcl"]
	path = ch5/pcl
	url = https://github.com/PointCloudLibrary/pcl
