[submodule "ch4/Sophus"]
	path = ch4/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "ch5/opencv"]
	path = ch5/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ch6/ceres"]
	path = ch6/ceres
	url = https://ceres-solver.googlesource.com/ceres-solver
